[submodule "packages/telegram"]
	path = packages/telegram
	url = https://github.com/Elmegram/telegram
[submodule "packages/elmegram"]
	path = packages/elmegram
	url = https://github.com/Elmegram/elmegram
